<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/de62180d47.js"
      crossorigin="anonymous"
    ></script>
    <title>Internship test</title>
    <link rel="stylesheet" href="/src/public/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Hello, welcome to the Amazon products finder!</h1>
      <h2>Please enter with the name of the product you want to find.</h2>
    </header>
    <nav>
      <form id="form">
        <input
          type="text"
          class="keyWord"
          name="keyWord"
          placeholder="Ex: Cadeira"
        />
        <button type="submit" class="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </nav>

    <div class="productList" id="productList"></div>
  </body>

  <script src="/src/public/js/main.js"></script>
</html>
